body { 
  margin:0; 
  padding:0; 
}

#map { 
  position: absolute; 
  top:50px; 
  bottom:0; 
  right:0; 
  left:25%;
}
 
/* reset bootstrap container margins */
.container {
  margin: 0;
}

#barchart {
  top: 50px;
}

#menu {
  padding: 15px 0 0 0;
  white-space: nowrap;
}
