body { 
  margin:0; 
  padding:0; 
}

/****** Visualization Nav ******/

select.form-control {
  border: 1px solid rgb(166, 166, 166);
  background-color:#F8f8f8;
  font-family: 'Arial Regular', 'Arial';
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  text-decoration: none;
  color: #000000;
  width: 171px;
  max-height: 30px;
}

#visualization-nav {
  height: 46px;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #F2F2F2;
}

#visualization-nav-data-map {
  position: absolute;
  margin: 10px 80px 0px 20px;
  font-size: 22px;
}

#visualization-nav-label {
  position: absolute;
  margin: 16px 5px 0px 195px;
  font-family: 'Arial Regular', 'Arial';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #333333;
  text-align: left;
  line-height: normal;
}

#visualization-nav-dropdown {
  position: absolute;
  width: 100px;
  margin: 7px 0px 0px 290px;
}

#clear-map {
  display: block;
  border: 1px solid rgb(166, 166, 166);
  background-color:#f8f8f8;
  font-family: Arial;
  height: 30px;
  padding: 6px 12px;
  border-radius: 4px;
  margin-left: 1050px;
  margin-top: 7px;
}

/****** year range slider ******/
#year-range-slider-label {
  position: absolute;
  margin: 16px 5px 0px 545px;
  font-family: 'Arial Regular', 'Arial';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #333333;
  text-align: left;
  line-height: normal;
}

#year-range-slider-container {
  display: block;
  position: absolute;
  width: 200px;
  margin: -5px 0px 0px 750px;
}

/* overwrite the size of the ion.RangeSlider HTML5 
   style slider buttons */
#year-range-slider-container span.irs-slider {
  top: 30px;
  width: 15px;
  height: 15px;
}

#year-range-slider-container span.irs-from {
  font-size: 11px;
  padding: 1px 3px;
  background: rgb(244, 67, 67);
  margin-top: 10px;
}

#year-range-slider-container span.irs-to {
  font-size: 11px;
  padding: 1px 3px;
  background: rgb(244, 67, 67);
  margin-top: 10px;
}

#year-range-slider-container span.irs-single {
  font-size: 11px;
  padding: 1px 3px;
  background: rgb(244, 67, 67);
  margin-top: 10px;
}

#year-range-slider-container span.irs-bar {
  border-top: 1px solid rgb(244, 67, 67);
  border-bottom: 1px solid rgb(244, 67, 67);
  background: rgb(244, 67, 67);
  background: linear-gradient(to top, rgba(141, 17, 16, 1) 0%, 
    rgba(244, 67, 67, 1) 100%);
}

/* don't display the placeholders for the min and max
   values of the range slider */
#year-range-slider-container span.irs-min {
  display: none;
}

#year-range-slider-container span.irs-max {
  display: none;
}

/****** visualizations ******/

#map { 
  position: absolute; 
  top: 145px; 
  bottom: 0; 
  right: 0; 
  left: 466px;
  max-height: 100%;
}

#map a {
  margin: 0;
  color: #000000;
}

#barchart {
  position: fixed;
  top: 146px;
  height: 100%;
  width: 466px;
  margin: 0 !important;
  padding-left: 10px;
}

#barchart-label {
  display: block;
  padding: 12px 20px 0px 4px;
  font-size: 14px;
  position: fixed;
  background: #ffffff;
  opacity:.97;
  max-width: 450px;
}

#barchart-svg {
  margin-top: 77px;
  overflow: scroll;
  height: 100%;
}

/****** Modals ******/

.modal-content .entry {
  line-height: 13px;
}

.eeb-image {
  max-height: 500px;
  margin: 0 auto;
}

.modal-body h1, h2, h3, h4, h5, h6 {
  color: #000000;
  margin: 0;
  padding: 10px 0 0 0;
}

/****** Progress Bar ******/
#progress {
    display: none;
    position: absolute;
    z-index: 1000;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 20px;
    margin-top: -20px;
    margin-left: -100px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    padding: 2px;
}

#progress-bar {
    width: 0;
    height: 100%;
    background-color: #76A6FC;
    border-radius: 4px;
}
